<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/photos.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script type="application/javascript" src="/javascripts/knowledgeGraph.js"></script>

</head>

<body onload="init()">
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url" name="image_url"></p>
        <button id="connect" onclick="connectToRoom()">Connect</button>
    </form>
    <p id = "error"></div>
</div>

<div id="photoCapture">
    <div id='cameraSelect'>
        <select id="cameraOptions" onload="selectCamera()"></select>
        <button id="sourceSelect" onclick="sourceSelect()">Start Camera</button>
    </div>
    <video id='video' autoplay></video>
    <img src=''>
    <canvas id="streamCanvas" style="display:none;"></canvas>
    <button id="takePhoto">Take Photo</button>

    <div id='imageUpload' style="display:none;">
        <label for="imageTitle">Image Title:</label><br>
        <input type="text" id="imageTitle" maxlength="50"></input><br>
        <label for="imageDesc">Image Description:</label><br>
        <textarea id="imageDesc" rows="4" cols="50" maxlength="200"></textarea><br>
        <label for="imageAuthor">Author:</label><br>
        <input type="text" id="imageAuthor" maxlength="50"></input><br>
        <button id="uploadPhoto" onclick="sendImage()">Upload Photo</button>
    </div>
</div>

<div id="database_images" style="display:block">

    <label for="imageTitle">Search for Image by Author:</label><br>
    <input type="text" id="authorSearch"></input>
    <button id="authorSearchInput" onclick="displayDBImages()">Find Image</button>
    <table id="image_table">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
        </tr>
    </table>
</div>

<div id="chat_interface" style="display: none">
    <div>
        <h5>Search the Knowledge Graph</h5>
        <div class="myRow" id="typeForm">
            <label for="myType">Type: </label><input type="text" id="myType">
            <button onclick="widgetInit()">Set type</button>
        </div>
        <div class="myRow" id='widget' style="display: none">
            <label for="myInput">Search for: </label><input type="text" id="myInput">
            <div class="myRow" id="typeSet"></div>
        </div>
        <div>
            <div class='resultPanel' id="resultPanel" style="display:none;width:300px;height:25px;">
                <h3 id="resultName"></h3>
                <h4 id="resultId"></h4>
                <div id="resultDescription"></div>
                <div>
                    <a id="resultUrl" target="_blank">
                        Link to Webpage
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
    <p><div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div id="in_room" style="display: inline"></div>
    </div>
    </p>
    <div style="width: 100%; height: 50vh">
            <img id="image" height="100%" >
            <canvas  id="canvas" ></canvas>
    </div>
    <div id = "clearCanvas">
        <button class ="canvas-clear">Clear Canvas</button>
    </div>
<!--    </div>-->
    <div id="history" style="height: 35vh" class="boxed scrolling" ></div>
    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText()">Send</button>
            </p>
        </form>
    </div>
</div>
</body>
</html>
