<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Terms and Consditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/photos.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script type="application/javascript" src="/javascripts/knowledgeGraph.js"></script>

</head>

<body>

<h1>Terms and Conditions</h1>
<p> Do not use unless you are one of the module leaders of COM3504. Or a secret agent. </p>


</body>
</html>
